.form-heading{
  margin-bottom: 20px;
  text-align: center;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
 
}
.form-group{
  margin-bottom: 20px;
}
.wrapper {
  width: 90%;
  /* border-radius: 20px; */
  /* padding: 3rem; */
  background: #fff;
  box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04),
    0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06),
    0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}
form{
  padding: 20px;
}
form,
input,
textarea,
button {
  font-family: inherit;
  font-size: initial;
}
.form-group label {
  display: block;
  /* margin: 2rem 0 0.5rem 0; */
  /* margin: 5px; */
  margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid rgba(73, 70, 70, 0.2);
  outline: 0;
  transition: border 0.15s;
  border-radius: 15px;
}
/* .form-group input[type="text"],{
  height: 4.6rem;
} */
.form-group textarea {
  resize: vertical;
}
.submit {
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  background: rgba(238, 243, 96);
  cursor: pointer;
  transition: background 0.15s;
}
i {
  margin-right: 0.5rem;
}
.submit:hover {
  background: rgb(110, 103, 6);
}
.submit [disabled]{
  pointer-events:none;
  
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  border: 1px solid #222;
}

@media screen and (min-width: 576px) {
  .wrapper {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 55%;
  }
}
@media screen and (min-width: 992px) {
  .wrapper {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 35%;
  }
}
.hide{
  display: none;
}
.required{
  color: red;
}
.errorMsg{
  color: white;
  background-color: rgb(229, 156, 156);
  padding: 20px;
}
.invalid{
  background-color: 1px solid red
}