<app-header></app-header>
<!-- <div class="form-container">
  <h2 class="form-heading">Add Products</h2>
  <div *ngIf="errorMsg" class="errorMsg">
   There is an error : "{{errorMsg}}"
  </div>

  <div class="wrapper">
   
    <form #addForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
   
      <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" name="Name" id="name" #name="ngModel" [(ngModel)]="productModel.name" placeholder="Product Name" required minlength="3" maxlength="25" />
        <p  class="required" [class.hide] = "name.valid || name.untouched">Name is required</p>
      </div>
     
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" id="description" pattern="/^[a-zA-Z, ]{10,30}$/" #description="ngModel" [(ngModel)]="productModel.description" rows="2"placeholder="Description" required></textarea>
         <p  class="required" [class.hide] = "description.valid || description.untouched">Description is required</p> -->
<!-- <div *ngIf="description.errors && (description.valid || description.touched)">
           <p class="required" *ngIf="description.errors?.['required']">Description is required</p>
           <p class="required" *ngIf="description.errors?.['pattern']">Description length must be greater than 10 and lesser than 30</p>
        </div>
      </div>
      <div class="form-group">
        <label for="seller">Seller</label>
        <input type="text" class="form-control" name="seller" id="seller" #seller="ngModel" [(ngModel)]="productModel.seller" placeholder="Seller" required minlength="3" maxlength="25" />
        <p  class="required" [class.hide] = "seller.valid || seller.untouched">Seller is required</p>
        
      </div>
      
<div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" name="price" id="price" #price="ngModel" [(ngModel)]="productModel.price" placeholder="Price" required />
        <p  class="required" [class.hide] = "price.valid || price.untouched">Price is required</p>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="quantity" #quantity="ngModel" [(ngModel)]="productModel.quantity" placeholder="Quantity" required />
        <p  class="required" [class.hide] = "quantity.valid || quantity.untouched">Quantity is required</p>
      </div>
      <div class="form-group">
        <button type="submit" class="submit">Add</button>
      </div>
    </form>
  </div>
</div>  -->
<div class="form-container">
  <h2 class="form-heading">Add Products</h2>
  <div>
    {{ errorMsg }}
  </div>
  <div class="wrapper">
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          id="name"
          placeholder="Product Name"
        />
        <!-- <p class="required" [class.hide]="name.valid || name.untouched"> Product name is required </p> -->
        <div *ngIf="name.invalid && name.touched">
          <p class="required" *ngIf="name.errors?.['required']">
            product name is required
          </p>
          <p class="required" *ngIf="name.errors?.['pattern']">
            product name should be of the right format
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          formControlName="description"
          rows="2"
          placeholder="Description"
        ></textarea>
        <!-- <p class="required" [class.hide]="addProductForm.get('description').valid || addProductForm.get('description').untouched"> Product Description is required </p> -->
        <div *ngIf="description.invalid && description.touched">
          <p class="required" *ngIf="description.errors?.['required']">
            product description is required
          </p>
          <p class="required" *ngIf="description.errors?.['pattern']">
            product description should be of the right format
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="seller">Seller</label>
        <input
          type="text"
          class="form-control"
          formControlName="seller"
          id="seller"
          placeholder="Seller"
          required
        />
        <p
          class="required"
          [class.hide]="
            addProductForm.get('seller').valid ||
            addProductForm.get('seller').untouched
          "
        >
          Product Seller is required
        </p>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="number"
          class="form-control"
          formControlName="price"
          id="price"
          placeholder="Price"
          required
        />
        <p
          class="required"
          [class.hide]="
            addProductForm.get('price').valid ||
            addProductForm.get('price').untouched
          "
        >
          Product price is required
        </p>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          class="form-control"
          formControlName="quantity"
          id="quantity"
          placeholder="Quantity"
          required
        />
        <p
          class="required"
          [class.hide]="
            addProductForm.get('quantity').valid ||
            addProductForm.get('quantity').untouched
          "
        >
          Product quantity is required
        </p>
      </div>
      <div class="form-group">
        <!-- <button type="submit" class="submit" [disabled]="!addProductForm.valid">Add</button> -->
        <button
          type="button"
          type="submit"
          class="btn btn-primary"
          [disabled]="!addProductForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
