.confirm-dailog-container{
  border-radius: 10px;  
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.content-container{
  margin: 5px 5px 15px 5px;
  color:#8f9cb5;
  display: flex;
}
#close-icon{
  margin-left: auto;
  order:2;
  font-weight: bolder;
}
#close-icon:hover{
  cursor: pointer;
}
span.content-span{
  padding: 35px 16px;
  text-align: center;
  font-size: 20px;
}
#no{
  height: 50px;
  width: 50%;
  background-color: rgb(235, 152, 152);
  color: white;
  border-radius: 0px;
  border-width: 0px;
}
#yes{
  height: 50px;
  width: 50%;
  background-color: rgb(105, 158, 237);
  color: white;
  border-radius: 0px;
  border-width: 0px;
}