<!-- <h3>Product Deleted Successfully</h3> -->
<div class="confirm-dailog-container">
  <div class = "content-container">
    <mat-icon id="close-icon" class="d-flex flex-row" (click)="closeDialog()">close</mat-icon>
    <span class="content-span full-width">Are you sure you want to delete product ?</span>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <button mat-flat-button id="no" [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button id="yes" [mat-dialog-close]="true">Confirm</button>
  </div>
</div>