* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* body {
  background-color: gray;
  color: black;
  font-family: helvetica, sans-serif;
} */

main {
  /* background-color: #EDFDED;
  max-width: 1200px;
  margin: auto;
  min-height: 100vw; */
  display: flex;
  flex-wrap: wrap;
}

h4 {
  /* padding: 20px 0px; */
  /* text-align: center; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgb(43, 45, 45);
  text-transform: uppercase;
}

.card-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.card {
  width: 320px;
  padding: 20px;
  margin: 15px;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.card:hover {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.15);
}
.card > img {
  border-radius: 2px;
  max-width: 100%;
  margin-bottom: 10px;
  height: auto;
}


.card p {
  color: #585555;
  line-height: 1.0;
  padding-top: 10px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.error-container{
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
}