<app-header></app-header>
<div>
  <img
    src="https://www.conatuscounsel.com/wp-content/uploads/Website-E-Commerce.png"
    class="img-style"
  />
  <!-- <img src="https://img.lovepik.com/photo/40027/7318.jpg_wh300.jpg" class="img-style"/> -->
</div>