<app-header></app-header>
<div class="form-container">
  <h2 class="form-heading">Add Products</h2>
 
  <div class="wrapper">
    <form [formGroup]="updateProduct" (ngSubmit)="onUpdate()">
      <div class="form-group" >
        <label for="name">Name</label>
        <input  type="text" class="form-control" formControlName="name" id="name"  placeholder="Product Name" />
       
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea  class="form-control" id="description" formControlName="description"  rows="2"placeholder="Description" required></textarea>
      </div>
      <div class="form-group">
        <label for="seller">Seller</label>
        <input type="text" class="form-control" formControlName="seller" id="seller"  placeholder="Seller" required />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" formControlName="price" id="price"  placeholder="Price" required />
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" formControlName="quantity" id="quantity"  placeholder="Quantity" required />
      </div>
      <div class="form-group">
        <!-- <button type="submit" class="submit" [disabled]="!addProductForm.valid">Add</button> -->
        <button type="button" type="submit" class="btn btn-primary">Submit</button>
  
      </div>
    </form>
  </div>
</div>