.nav-color{
	background-color: rgb(114, 203, 238);
	color: white;
	height: 60px;
}
.nav-item a{
	color: white;
	font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}
.nav-item a:hover {
    color: rgb(80, 78, 93);
}

