
<nav class="navbar navbar-expand-lg navbar-dark nav-color">
  <a class="navbar-brand">Product Catalog</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngClass]="{ show: isCollapsed }"
  >
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" href="/"
          >Home </a>
        
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/addproduct" href="#">Add Product</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/products" href="#">Products</a>
      </li>
    </ul>
  </div>
</nav>
